
body {
  background: #3F51B5;
  font-family: 'Roboto Condensed', sans-serif;
  color: #F5F5F5;
  text-align: center;
  padding: 0;
  margin: 0;
}

img {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card {
  background: #EEEEEE;
  width: 800px;
  padding: 5px 50px 20px 50px;
  margin: 20px auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: #424242;
}

#header {
  background: #F5F5F5;
  color: #424242;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 3px solid #424242;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#header h2 {
  float: left;
}

#header ul {
  float: right;
  list-style-type: none;
}

#header ul li {
  float: right;
  height: inherit;
  vertical-align: bottom;
  padding: 7px;
}

#header ul li a{
  text-decoration: none;
  font-size: 20px;
  color: #673AB7;
}

#header ul li a:hover {
  color: #1A237E;
  font-weight: 700;
}
